@import 'base/all';
@import 'component/all';

* {
  box-sizing: border-box;
  overflow: hidden;

}

body {
  background-color: $bg-color;
  font-size: 100%;
  font-family: $global-font-family;
  font-weight: $global-font-weight;
  color: $global-font-color;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: $primary-color;
  }
}

.credit {
  font-size: 0.8em;
  color: $white;
  padding: 0 1.2em;
}
