.resort {

  &-results-block {
    font-size: 13px;
  }

  &-logo {
    padding: 0.5em 0.7em;

    img {
      max-width: 110px;
    }
  }

  &-row {
    background-color: $field-bg-color;
    border-bottom: 1px solid $border-color;
    padding: 0.7em 1.4em;
  }


  &-condition {
    font-style: italic;
    span:nth-child(2) {
      display: inline-block;
    }
  }

  &-name {
    border-top: 2px solid $primary-color;
    background: $border-color;

    a {
      color: $white;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Stats
.resort-stats {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $field-bg-color;
  border-bottom: 1px solid $border-color;

  &-column {
    flex: 0 1 100%;
    border-bottom: 1px solid $border-color;
    padding: 0.5em 0.7em;
    height: 100px;
  }

  &-weather {
    text-align: center;

    img {
      max-width: 60px;
    }

    span {
      display: block;
    }
  }
}

// Temp and wind
.resort-temp-wind {
  text-align: center;

  &__temp {
    font-size: 3em;
  }

  &__arrow {
    display: inline-block;
    transform:rotate(237.5deg);
    -ms-transform:rotate(237.5deg);
    -webkit-transform:rotate(237.5deg);
    -moz-transform:rotate(237.5deg);
    -o-transform:rotate(237.5deg);
  }

}


// Lifts and slopes
.resort-lifts-slopes {
  position: relative;
  height: 100px;

  &__no {
    font-size: 1.6em;
    text-align: center;
    margin-top: 30px;

    span {
      position: absolute;
      -ms-transform:translate(-50%, -50%);
      -webkit-transform:translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

    }

    canvas {
      position: absolute;
      -ms-transform:translate(-50%, -50%);
      -webkit-transform:translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  &__ratio {
    position: absolute;
    left: 7px;
    bottom: 5px;
  }

  &__percentage {
    position: absolute;
    right: 7px;
    bottom: 5px;
  }
}


// Snow depth
.resort-snow-depth {
  padding: 0;
  display: flex;
  flex-direction: column;

  &__row {
    border-bottom: 1px solid $border-color;
    flex: 0 1 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span:nth-child(1) {
    margin-right: 2em;
  }

  span:nth-child(2) {
    margin-right: 0.5em;
  }

  .depth {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 640px) {
  .resort {

    &-stats {
      flex-direction: row;
    }

    &-stats-column {
      flex: 0 1 50%;
      border-right: 1px solid $border-color;
    }

    &-condition {
      span:nth-child(2) {
        float: right;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .resort {

    &-stats {
      flex-direction: row;
    }

    &-stats-column {
      flex: 0 1 20%;
    }
  }
}
