.resort {

  &-row {
    background-color: $field-bg-color;
    border-bottom: 1px solid $border-color;
    padding: 0.5em 0.7em;
  }

  &-stats {
    display: flex;
    flex-direction: column;
    background-color: $field-bg-color;
    border-bottom: 1px solid $border-color;
  }

  &-column {
    flex: 0 1 100%;
    border-bottom: 1px solid $border-color;
    padding: 0.5em 0.7em;
  }


  &-weather {
    text-align: center;

    img {
      max-width: 80px;
    }

    span {
      display: block;
    }
  }

  &-logo {
    padding: 0.5em 0.7em;

    img {
      max-width: 110px;
    }
  }

  &-condition {
    font-style: italic;
  }

  &-name {
    border-top: 2px solid $primary-color;
    background: $border-color;
  }
}

@media screen and (min-width: 640px) {
  .resort {

    &-stats {
      flex-direction: row;
    }

    &-column {
      flex: 0 1 20%;
      border-right: 1px solid $border-color;
    }
  }
}

.resort-temp-wind {
  text-align: center;

  &__temp {
    font-size: 4em;
  }

}

.resort-lifts-slopes {
  font-size: 0.75em;
  position: relative;

  &__no {
    font-size: 2.6em;
    text-align: center;
  }

  &__ratio {
    position: absolute;
    left: 7px;
    bottom: 5px;
  }

  &__percentage {
    position: absolute;
    right: 7px;
    bottom: 5px;
  }
}
