.search {
  padding: 4em 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

label {
  position: absolute;
  left: -999px;
}

input[type="text"] {
  flex-basis: 80%;
  border: 0;
  padding: 1em;
  background-color: $white;
  color: $dark-gray;

  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  flex-basis: 20%;
  border: 0;
  background-color: $primary-color;
  color: $white;
  transition: all 0.2s;

  &:hover {
    background-color: rgba($primary-color, .85);
  }
}

.searched-for {
  display: block;
  text-align: center;
}
