.search {
  padding: 4em 0;
  width: 100%;
}

label {
  position: absolute;
  left: -999px;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $white;
  padding: 1em;
  width: 100%;
  color: $white;
}
