.search {
  padding: 4em 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 0;
  outline: none;
}

label {
  position: absolute;
  left: -999px;
}

input[type="text"] {
  flex-basis: 85%;
  flex-grow: 1;
  border: 0;
  padding: 1em;
  background-color: $white;
  color: $dark-gray;
  border: 0;
  outline: none;

  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  flex-basis: 15%;
  border: 0;
  background-color: $primary-color;
  color: $white;
  -ms-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;

  &:hover {
    background-color: rgba($primary-color, .8);
  }
}

.searched-for {
  display: block;
  text-align: center;
  margin-bottom: 4em;
}
